apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
      - name: config-server
        image: com.booking/config-server:0.0.1-SNAPSHOT # Must be in a registry
        ports:
        - containerPort: 8888
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod" # Activates your 'application-prod.properties'
        volumeMounts:
        - name: github-secret-volume
          mountPath: "/run/secrets"
          readOnly: true
      volumes:
      - name: github-secret-volume
        secret:
          secretName: github-pat
---
apiVersion: v1
kind: Service
metadata:
  name: config-server # This name provides the DNS: 'http://config-server:8888'
spec:
  selector:
    app: config-server
  ports:
  - protocol: TCP
    port: 8888
    targetPort: 8888