networks:
  # 'docker-compose up' will create this as a 'bridge' network
  booking-network:

services:
  user-service-db:
    image: postgres:17-alpine
    container_name: user-service_db
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user-service -d vexesieure_user-service_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=user-service
      - POSTGRES_PASSWORD=user-service-db-password
      - POSTGRES_DB=vexesieure_user-service_db
    volumes:
      - user-service-db:/var/lib/postgresql/data
    networks:
      - booking-network
      
  # --- 1. Configuration Server ---
  config-server:
    hostname: config-server
    # 'build' tells docker-compose to build this image
    build:
      context: ./config-server
      args:
        # This path is from your Dockerfile
        JAR_FILE: config-server-0.0.1-SNAPSHOT.jar
    image: com.booking/config-server:0.0.1-SNAPSHOT
    ports:
      - "8888:8888"
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/8888'"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      # This reads the PAT from your .env file
      - GITHUB_PAT=${GITHUB_PAT}
    networks:
      - booking-network

  service-registry:
    hostname: service-registry
    build:
      context: ./service-registry
      args:
        JAR_FILE: service-registry-0.0.1-SNAPSHOT.jar
    image: com.booking/service-registry:0.0.1-SNAPSHOT
    ports:
      - "8081:8081"
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/8081'"]
      interval: 5s
      timeout: 5s
      retries: 10
    depends_on:
      config-server:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - booking-network

  # --- 3. User Service ---
  user-service:
    hostname: user-service
    build:
      context: ./services/user-service
      args:
        JAR_FILE: user-service-0.0.1-SNAPSHOT.jar
    image: com.booking/user-service:0.0.1-SNAPSHOT
    ports:
      - "8082:8082"
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/8082'"]
      interval: 5s
      timeout: 5s
      retries: 10
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      user-service-db:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - booking-network

  # --- 4. API Gateway ---
  api-gateway:
    hostname: api-gateway
    build:
      context: ./api-gateway
      args:
        JAR_FILE: api-gateway-0.0.1-SNAPSHOT.jar
    image: com.booking/api-gateway:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/8080'"]
      interval: 5s
      timeout: 5s
      retries: 10
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      user-service:
        condition: service_healthy
    environment:
      # This is the fast way to set debug logging.
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY=DEBUG
      - LOGGING_LEVEL_REACTOR_NETTY_HTTP_CLIENT=DEBUG
      # This flag enables the ability to change logging levels at runtime (safe to include)
      - SPRING_APPLICATION_ADMIN_ENABLED=true
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - booking-network

volumes:
  user-service-db: